p {color: blueviolet
    ;}

    #coloramarillo {color: yellow
        ;}

        .colornaranja {color: orange
            ;}

            .colorazul {color: blue
                ;}

                .colorazul {color: rgb(90, 19, 78)
                    ;}

                    .colorazul {color: brown
                        ;}
                        